<h1>Listing books</h1>

<h3>Try adding new book to see the ActiveRecord errors</h3>

<table>
  <tr>
    <th>Author</th>
    <th>Title</th>
    <th>Published on</th>
    <th>Items</th>
  </tr>

<% for book in @books %>
  <tr>
    <td><%=h book.author %></td>
    <td><%=h book.title %></td>
    <td><%=l book.published_on, :format => 'short' %></td>
    <td><%=h book.items %></td>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New book', new_book_path(:locale => I18n.locale) %>
